<ul>
  {{- if .Conditions.temp -}}
    {{- with $sensor := .Conditions.temp -}}
      <li>Temperature &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.humidity -}}
    {{- with $sensor := .Conditions.humidity -}}
      <li>Humidity &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.barom -}}
    {{- with $sensor := .Conditions.barom -}}
      <li>Pressure &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.dewpoint -}}
    {{- with $sensor := .Conditions.dewpoint -}}
      <li>Dewpoint &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.uv -}}
    {{- with $sensor := .Conditions.uv -}}
      <li>UV Index &mdash; {{ $sensor.Value }}</li>
    {{- end -}}
  {{- end -}}
  {{- if index .Conditions "rain-1h" -}}
    {{- with $sensor := index .Conditions "rain-1h" -}}
      <li>Rain Hour &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.dailyrain -}}
    {{- with $sensor := .Conditions.dailyrain -}}
      <li>Rain Day &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.windspd -}}
    {{- with $sensor := .Conditions.windspd -}}
    <li>Wind &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions.winddir -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
  {{- if index .Conditions "windspd-avg2m" -}}
    {{- with $sensor := index .Conditions "windspd-avg2m" -}}
    <li>Wind Average 2m &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions "winddir-avg2m" -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
  {{- if index .Conditions "windgustspd-2m" -}}
    {{- with $sensor := index .Conditions "windgustspd-2m" -}}
    <li>Wind Gust 2m &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions "windgustdir-2m" -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
  {{- if index .Conditions "windgustspd-10m" -}}
    {{- with $sensor := index .Conditions "windgustspd-10m" -}}
    <li>Wind Gust 10m &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions "windgustdir-10m" -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
</ul>
