<ul>
  {{- if .Conditions.Sensors.temp -}}
    {{- with $sensor := index .Conditions.Sensors.temp 0 -}}
      <li>Temperature &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.Sensors.humidity -}}
    {{- with $sensor := index .Conditions.Sensors.humidity 0 -}}
      <li>Humidity &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.Sensors.barom -}}
    {{- with $sensor := index .Conditions.Sensors.barom 0 -}}
      <li>Pressure &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.Sensors.dewpoint -}}
    {{- with $sensor := index .Conditions.Sensors.dewpoint 0 -}}
      <li>Dewpoint &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.Sensors.uv -}}
    {{- with $sensor := index .Conditions.Sensors.uv 0 -}}
      <li>UV Index &mdash; {{ $sensor.Value }}</li>
    {{- end -}}
  {{- end -}}
  {{- if index .Conditions.Sensors "rain-1h" -}}
    {{- with $sensor := index .Conditions.Sensors "rain-1h" 0 -}}
      <li>Rain Hour &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.Sensors.dailyrain -}}
    {{- with $sensor := index .Conditions.Sensors.dailyrain 0 -}}
      <li>Rain Day &mdash; {{ $sensor.Value }}{{ $sensor.Unit }}</li>
    {{- end -}}
  {{- end -}}
  {{- if .Conditions.Sensors.windspd -}}
    {{- with $sensor := index .Conditions.Sensors.windspd 0 -}}
    <li>Wind &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions.Sensors.winddir 0 -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
  {{- if index .Conditions.Sensors "windspd-avg2m" -}}
    {{- with $sensor := index .Conditions.Sensors "windspd-avg2m" 0 -}}
    <li>Wind Average 2m &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions.Sensors "winddir-avg2m" 0 -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
  {{- if index .Conditions.Sensors "windgustspd-2m" -}}
    {{- with $sensor := index .Conditions.Sensors "windgustspd-2m" 0 -}}
    <li>Wind Gust 2m &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions.Sensors "windgustdir-2m" 0 -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
  {{- if index .Conditions.Sensors "windgustspd-10m" -}}
    {{- with $sensor := index .Conditions.Sensors "windgustspd-10m" 0 -}}
    <li>Wind Gust 10m &mdash; {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end }} at {{ with $sensor := index .Conditions.Sensors "windgustdir-10m" 0 -}}
      {{ $sensor.Value }} {{ $sensor.Unit }}
    {{- end -}}
    </li>
  {{- end -}}
</ul>
